.loader {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;

  user-select: none;
  pointer-events: none;
  transition: 0.6s;

  z-index: 10000;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background: url('/img/cave.png') no-repeat center / cover;
  }

  &__img {
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
