h1,
.h1,
h2,
.h2,
h3,
.h3 {
  display: block;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  line-height: 1;
}

h1,
.h1 {
  font-size: clamp(40px, 11vw, 140px);
}

h2,
.h2 {
  font-size: clamp(40px, 5vw, 78px);
}

h3,
.h3 {
  font-size: clamp(24px, 3vw, 48px);
  text-align: center;
}

h4,
.h4 {
  font-size: clamp(24px, 2vw, 30px);
  letter-spacing: -0.02em;
  text-align: center;
}

p,
span,
ul {
  line-height: 1.3;
}
