@import '../../../styles/mixins/flexbox.scss';
@import '../../../styles/mixins/media.scss';
@import '../../../styles/mixins/hover-active.scss';

.header {
  position: sticky;
  top: 8px;

  width: 100%;
  padding: 0 8px;
  height: 0;

  z-index: 1000;

  .nav {
    @include flexbox(center, center, unset, 32px);
    background-color: #00000033;
    border-radius: 16px;
    padding: 12px;

    @include media(max, mobile) {
      gap: 12px;
    }

    &__item {
      font-size: clamp(14px, 1vw, 16px);
      color: #fff;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
